.banners-container {
  width: 100vw;
  height: calc(100vh - 50px);
  display: grid;
  overflow-x: hidden;
  overflow-y: hidden;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  top: 50px;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
   object-fit: cover;
  }
}

/* @media screen and (max-width: 852px) {
  .banners-container {
    scale: 1.5;
  }
}

@media screen and (max-width: 780px) {
  .banners-container {
    scale: 1.3;
  }
}

@media screen and (max-width: 360px) {
  .banners-container {
    flex-direction: column;
  }
}
 */
